<div class="centerer">
  <img src="https://cdn-icons-png.flaticon.com/256/2679/2679387.png" alt="City Image" class="icon" />
<div class="info">
  <h2 class="lmao">Info: {{ user.firstName }} {{ user.lastName }} </h2>
  <div class="form-row">
    <div class="form-field">
      <input [(ngModel)]="user.firstName" required [readonly]="!editable" />
      <label>First name</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <input [(ngModel)]="user.lastName" required [readonly]="!editable" />
      <label>Last name</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <input [(ngModel)]="user.email" required [readonly]="true" />
      <label>Email</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <input [(ngModel)]="user.city" required [readonly]="!editable" />
      <label>City</label>
    </div>
    
  </div>
    <div class="form-row">
    <div class="form-field">
      <input [(ngModel)]="user.country" required [readonly]="!editable" />
      <label>Country</label>
    </div>
  </div>
  <div class="form-field">
    <div class="form-field">
      <input [(ngModel)]="user.phoneNumber" required [readonly]="!editable" />
      <label>Phone number</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <input [(ngModel)]="user.profession" required [readonly]="!editable" />
      <label>Profession</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <input
        class="readonlyable"
        [(ngModel)]="user.companyInformation"
        required
        [readonly]="!editable"
      />
      <label>Company information</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <input [(ngModel)]="user.penalPoints" required [readonly]="true" />
      <label>Penal points</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <input [(ngModel)]="user.category" required [readonly]="true" />
      <label>Category</label>
    </div>
  </div>
  <div>
    <button class="mat-button-large" mat-button (click)="toggleEdit()">Edit</button>
    <button class="mat-button-large" mat-button (click)="updateUser()" [disabled]="!editable">
      Update
    </button>
  </div>

  <br />
  <h1>Reserved appointments:</h1>
  <table
    mat-table
    [dataSource]="reservedAppointments"
    *ngIf="reservedAppointments.data.length != 0; else elseBlock"
    class="mat-elevation-z8"
    matSort
  >
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ datePipe.transform(element.dateTime, "dd-MM-YYYY HH:mm") }}
      </td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Duration(min)
      </th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>
    <ng-container matColumnDef="adminName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin Name</th>
      <td mat-cell *matCellDef="let element">{{ element.adminName }}</td>
    </ng-container>
    <ng-container matColumnDef="cancelReservation">
      <th mat-header-cell *matHeaderCellDef>Cancel reservation</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="warn" (click)="cancelAppointment(element.id)">Cancel <mat-icon>close</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <ng-template #elseBlock>
    <h2 style="margin-left: 50px; margin-top: 20px">
      You dont have any appointments!
    </h2>
  </ng-template>
</div>
</div>