<div class="info">
  <div class="form-row">
    <div class="form-field">
      <input [(ngModel)]="company.name" required />
      <label>First name</label>
    </div>
    <div class="form-field">
      <input [(ngModel)]="company.description" required />
      <label>Last name</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <input [(ngModel)]="company.city" required />
      <label>City</label>
    </div>
    <div class="form-field">
      <input [(ngModel)]="company.country" required />
      <label>Country</label>
    </div>
  </div>
  <div>
    <button (click)="updateCompany()" mat-button class="btn">Edit</button>
  </div>
</div>
