.app-background {
    background-image: url(src\assets\med5.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
    margin:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
