
<div class="rating">
  
  <!--Search-->
  <div class="search">
    <input [(ngModel)]="nameSearch" placeholder="Search by name" class="search-field"/>

    
    <input [(ngModel)]="countrySearch" placeholder="Search by country" class="search-field"/>

    
    <input [(ngModel)]="citySearch" placeholder="Search by city" class="search-field"/>

  
    <button class="mat-button-large" mat-button (click)="SearchCompanies()">Search</button>
    <button class="mat-button-large" mat-button (click)="ResetSearch()">Reset</button>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>
    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>
    <!-- Button Column -->
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="loggedInUserData?.role!=''" (click)="ViewProfile(element.id)" class="matija-button">Go to profile</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
