.info {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 45%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    background-color: #800e13ff;
    border-radius: 5%;
}

.lmao{
    font-family: "Rhodium Libre" !important;
    font-size: 28px;
    font-weight: bold;
}
