<div class="info">
  <div class="form-row">
    <div class="form-field">
      <label>Old password</label>
      <input type="password" [(ngModel)]="password" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <label>New password</label>
      <input type="password" [(ngModel)]="passwordNew" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <label>Retype the password</label>
      <input type="password" [(ngModel)]="passwordRepeat" required />
    </div>
  </div>
  <div>
    <button (click)="updateAdmin()" mat-button class="btn">Edit</button>
  </div>
</div>
