
  
  :host ::ng-deep .fc-button-primary {
    background-color: darkred; /* Change button color on hover */
    border-color: darkred; /* Change border color on hover */
  }

  :host ::ng-deep .fc-button-primary:hover {
    background-color: #ad2831ff; /* Change button color on hover */
    border-color: darkred; /* Change border color on hover */
  }

  :host-context(.app-background) {
    background-image: none;
    background-color:white;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

