.register-button {
    display: flex;
    justify-content: center;
    margin-top: 1px; /* Adjust the top margin of the button */
    background-color: #800e13ff!important;
    font-family: "Rhodium Libre"!important;
    color: white;
    font-size: 18px;
    
  }