
.purple-card {
    width: 300px !important; 
    height: 200px; 
    background-color: #800e13ff;
    border-radius: 6000; 
    padding: 16px; 
    margin: 36px; 
    font-family: "Rhodium Libre";
    font-size: 18px;
    color: white;

  }


  .rotate-icon .mat-icon {
    transform: rotate(90deg); 
  }

  .search-button{
    background-color: #800e13ff;
    font-family: "Rhodium Libre";
    color:white;
    font-size: 18px;

    transition:  transform, 0.3s;
  }

  .search-button:hover{
    transform: translateY(-5px);
    background-color: white!important;
    color:#800e13ff!important;
  }

  .basic-container{

    display: flex;
    justify-content: center;
    padding: 0 16px; 
    box-sizing: border-box;
    flex-wrap: wrap; 
  }

  .mat-button-soft{
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    font-size: 18px;
    background-color: #ad2831ff;
    z-index: 2;
    font-family: "Rhodium Libre";
    transition:  transform, 0.3s;
  }

  .mat-button-soft:hover{
    transform: translateY(-15px);
    background-color: white!important;
    color:#800e13ff!important;
  }

  .mat-button{
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    font-size: 18px;
    background-color: #800e13ff;
    z-index: 2;
    font-family: "Rhodium Libre";
    transition:  transform, 0.3s;
  }

  .mat-button:hover{
    transform: translateY(-15px);
    background-color: white!important;
    color:#800e13ff!important;
  }

  .mat-button-large{
    transition:  transform, 0.3s;
  }

  .mat-button-large:hover{
    transform: translateY(-5px);
    background-color: white!important;
    color:#800e13ff!important;
  }
  .search-field{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
  }