.register-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh; 
    margin-top: 5vh; 
  }
  
  .form-content {
    max-width: 400px; 
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .register-button {
    display: flex;
    justify-content: center;
    margin-top: 1px; 
    background-color: #800e13ff!important;
    font-family: "Rhodium Libre"!important;
    color: white;
    font-size: 18px;
    
    transition:  transform, 0.3s;
  }
  .register-button:hover{
    transform: translateY(-5px);
    background-color: white!important;
    color:#800e13ff!important;
  }