.register-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align form to the upper border */
    height: 90vh; /* Adjust the height as needed */
    margin-top: 5vh; /* Move the form more to the upper border */
  }
  
  .form-content {
    max-width: 400px; /* Set a maximum width for the form */
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .register-button {
    display: flex;
    justify-content: center;
    margin-top: 1px; /* Adjust the top margin of the button */
    background-color: #800e13ff!important;
    font-family: "Rhodium Libre"!important;
    color: white;
    font-size: 18px;
    
  }